apiVersion: v1
kind: ConfigMap
metadata:
  # We need to add a hash to the configmap name in order for BBR to reconcile (it maintains an internal cache based on configmap names)
  name: '{{- if and (hasKey .Values "global") (hasKey .Values.global "deploymentName") .Values.global.deploymentName }}{{ .Values.global.deploymentName }}{{- else }}{{ .Release.Name }}{{- end }}-cm-{{ include "modelService.configMapHash" . }}'
  namespace: {{ .Release.Namespace }}
  labels:
    inference-gateway.k8s.io/managed: "true"
data:
  baseModel: {{ .Values.ms.modelArtifacts.name }}