apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "jupyter-notebook.deploymentName" . }}
  namespace: {{ .Values.global.deploymentNamespace | default "default" }}
  labels:
    app: {{ include "jupyter-notebook.deploymentName" . }}
spec:
  replicas: {{ .Values.deploymentNumReplicas }}
  selector:
    matchLabels:
      app: {{ include "jupyter-notebook.deploymentName" . }}
  template:
    metadata:
      labels:
        app: {{ include "jupyter-notebook.deploymentName" . }}
        workspace.exalsius.ai/database-id: {{ .Release.Name }}
    spec:
      securityContext:
        fsGroup: 0
{{- if and .Values.resources.gpuCount (gt (int .Values.resources.gpuCount) 0) }}
      runtimeClassName: nvidia
{{- end }}
      containers:
        - name: {{ include "jupyter-notebook.deploymentName" . }}
          image: {{ .Values.deploymentImage }}
          volumeMounts:
            - name: {{ include "jupyter-notebook.storageVolumeName" . }}
              mountPath: /tf
            - name: {{ include "jupyter-notebook.configmapVolumeName" . }}
              mountPath: /root/.jupyter/jupyter_server_config.py
              subPath: jupyter_server_config.py
          resources:
            requests:
              ephemeral-storage: 5Gi
              cpu: {{ .Values.resources.cpuCores }}
              memory: {{ .Values.resources.memoryGb }}Gi
              nvidia.com/gpu: {{ .Values.resources.gpuCount }}
            limits:
              ephemeral-storage: 10Gi
              cpu: {{ .Values.resources.cpuCores }}
              memory: {{ .Values.resources.memoryGb }}Gi
              nvidia.com/gpu: {{ .Values.resources.gpuCount }}
          ports:
            - containerPort: 8888
              name: notebook
      volumes:
        - name: {{ include "jupyter-notebook.storageVolumeName" . }}
          persistentVolumeClaim:
            claimName: {{ include "jupyter-notebook.pvcName" . }}
        - name: {{ include "jupyter-notebook.configmapVolumeName" . }}
          configMap:
            name: {{ include "jupyter-notebook.configmapName" . }}