clusterName: "unknown"
# This disables the automatic creation of the DeviceConfig, so that
# we can create it with this umbrella chart and based on the values below
gpu-operator-charts:
  crds:
    defaultCR:
      install: false

# Values for configuring the DeviceConfig in templates/
exlsConfig:
  namespace: "kube-amd-gpu"
  deviceConfigs:
    - name: "amd-gpu-adopted"
      # -- Set node selector for the default DeviceConfig
      selector:
        cluster.exalsius.ai/amd-gpu-mode: "adopted"
      driver:
        # -- enable/disable out-of-tree driver management, set to false to use inbox driver
        enable: false
        # -- enable/disable putting a blacklist amdgpu entry in modprobe config, which requires node labeller to run
        blacklist: false
        # -- image repository to store out-of-tree driver image, DO NOT put image tag since operator automatically manage it for users
        image: "ghcr.io/exalsius/amd-gpu-driver"
        imageRegistryTLS:
          # -- set to true to use plain HTTP for driver image repository
          insecure: false
          # -- set to true to skip TLS validation for driver image repository
          insecureSkipTLSVerify: false
        # -- specify an out-of-tree driver version to install
        version: "7.0"
    
    - name: "amd-gpu-managed"
      # -- Set node selector for the default DeviceConfig
      selector:
        cluster.exalsius.ai/amd-gpu-mode: "managed"
      driver:
        # -- enable/disable out-of-tree driver management, set to false to use inbox driver
        enable: true
        # -- enable/disable putting a blacklist amdgpu entry in modprobe config, which requires node labeller to run
        blacklist: true
        # -- image repository to store out-of-tree driver image, DO NOT put image tag since operator automatically manage it for users
        image: "ghcr.io/exalsius/amd-gpu-driver"
        imageRegistryTLS:
          # -- set to true to use plain HTTP for driver image repository
          insecure: false
          # -- set to true to skip TLS validation for driver image repository
          insecureSkipTLSVerify: false
        # -- specify an out-of-tree driver version to install
        version: "7.0"
      # We do not want it to run twice, as it is a daemonset and will be deployed already by the other device-config
      metricsExporter:
        enable: false