{{- range .Values.exlsConfig.deviceConfigs }}
---
apiVersion: amd.com/v1alpha1
kind: DeviceConfig
metadata:
  name: {{ .name | default "default" }}
  namespace: {{ $.Values.exlsConfig.namespace | default $.Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: {{ $.Release.Service }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
    app.kubernetes.io/version: {{ $.Chart.AppVersion | default $.Chart.Version }}
    {{- with .labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .selector }}
  selector:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .driver }}
  driver:
    {{- if (hasKey . "enable") }}
    enable: {{ .enable }}
    {{- end }}

    {{- if (hasKey . "blacklist") }}
    blacklist: {{ .blacklist }}
    {{- end }}

    {{- with .driverType }}
    driverType: {{ . }}
    {{- end }}

    {{- with .vfioConfig }}
    vfioConfig:
      {{- with .deviceIDs }}
      deviceIDs:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}

    {{- with .kernelModuleConfig }}
    kernelModuleConfig:
      {{- with .loadArgs }}
      loadArgs:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .unloadArgs }}
      unloadArgs:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .parameters }}
      parameters:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}

    {{- with .image }}
    image: {{ . }}
    {{- end }}

    {{- with .imageRegistrySecret }}
    imageRegistrySecret:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- with .imageRegistryTLS }}
    imageRegistryTLS:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- with .version }}
    version: {{ quote . }}
    {{- end }}

    {{- with .imageSign }}
    imageSign:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- with .imageBuild }}
    imageBuild:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- with .tolerations }}
    tolerations:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    upgradePolicy:
      {{- $driverUpgradePolicy := .upgradePolicy | default dict }}
      {{- if (hasKey $driverUpgradePolicy "enable") }}
      enable: {{ $driverUpgradePolicy.enable }}
      {{- else }}
      enable: true
      {{- end }}
      maxParallelUpgrades: {{ $driverUpgradePolicy.maxParallelUpgrades | default 3 }}
      maxUnavailableNodes: {{ $driverUpgradePolicy.maxUnavailableNodes | default "25%" }}
      {{- if (hasKey $driverUpgradePolicy "rebootRequired") }}
      rebootRequired: {{ $driverUpgradePolicy.rebootRequired }}
      {{- else }}
      rebootRequired: true
      {{- end }}
      nodeDrainPolicy:
        {{- $nodeDrainPolicy := $driverUpgradePolicy.nodeDrainPolicy | default dict }}
        {{- if (hasKey $nodeDrainPolicy "force") }}
        force: {{ $nodeDrainPolicy.force }}
        {{- else }}
        force: true
        {{- end }}
        timeoutSeconds: {{ $nodeDrainPolicy.timeoutSeconds | default 300 }}
        gracePeriodSeconds: {{ $nodeDrainPolicy.gracePeriodSeconds | default -1 }}
      podDeletionPolicy:
        {{- $podDeletionPolicy := $driverUpgradePolicy.podDeletionPolicy | default dict }}
        {{- if (hasKey $podDeletionPolicy "force") }}
        force: {{ $podDeletionPolicy.force }}
        {{- else }}
        force: true
        {{- end }}
        timeoutSeconds: {{ $podDeletionPolicy.timeoutSeconds | default 300 }}
        gracePeriodSeconds: {{ $podDeletionPolicy.gracePeriodSeconds | default -1 }}
  {{- end }}

  commonConfig:
    {{- $commonConfig := .commonConfig | default dict }}
    initContainerImage: {{ $commonConfig.initContainerImage | default "busybox:1.36" }}
    utilsContainer:
      {{- $utilsContainer := $commonConfig.utilsContainer | default dict }}
      image: {{ $utilsContainer.image | default "docker.io/rocm/gpu-operator-utils:v1.4.0" }}
      imagePullPolicy: {{ $utilsContainer.imagePullPolicy | default "IfNotPresent" }}
      {{- with $utilsContainer.imageRegistrySecret }}
      imageRegistrySecret:
        {{- toYaml . | nindent 8 }}
      {{- else }}
      imageRegistrySecret: {}
      {{- end }}

  devicePlugin:
    {{- $devicePlugin := .devicePlugin | default dict }}
    devicePluginImage: {{ $devicePlugin.devicePluginImage | default "rocm/k8s-device-plugin:latest" }}
    devicePluginImagePullPolicy: {{ $devicePlugin.devicePluginImagePullPolicy | default "IfNotPresent" }}
    {{- with $devicePlugin.devicePluginTolerations }}
    devicePluginTolerations:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    devicePluginTolerations: []
    {{- end }}
    {{- with $devicePlugin.devicePluginArguments }}
    devicePluginArguments:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    devicePluginArguments: {}
    {{- end }}
    {{- if (hasKey $devicePlugin "enableNodeLabeller") }}
    enableNodeLabeller: {{ $devicePlugin.enableNodeLabeller }}
    {{- else }}
    enableNodeLabeller: true
    {{- end }}
    nodeLabellerImage: {{ $devicePlugin.nodeLabellerImage | default "rocm/k8s-device-plugin:labeller-latest" }}
    nodeLabellerImagePullPolicy: {{ $devicePlugin.nodeLabellerImagePullPolicy | default "IfNotPresent" }}
    {{- with $devicePlugin.nodeLabellerTolerations }}
    nodeLabellerTolerations:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    nodeLabellerTolerations: []
    {{- end }}
    {{- with $devicePlugin.nodeLabellerArguments }}
    nodeLabellerArguments:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    nodeLabellerArguments: []
    {{- end }}
    {{- with $devicePlugin.imageRegistrySecret | default dict }}
    imageRegistrySecret:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    upgradePolicy:
      {{- $upgradePolicy := $devicePlugin.upgradePolicy | default dict }}
      upgradeStrategy: {{ $upgradePolicy.upgradeStrategy | default "RollingUpdate" }}
      {{- if (hasKey $upgradePolicy "maxUnavailable") }}
      maxUnavailable: {{ $upgradePolicy.maxUnavailable }}
      {{- else }}
      maxUnavailable: 1
      {{- end }}

  metricsExporter:
    {{- $metricsExporter := .metricsExporter | default dict }}
    {{- if (hasKey $metricsExporter "enable") }}
    enable: {{ $metricsExporter.enable }}
    {{- else }}
    enable: true
    {{- end }}
    serviceType: {{ $metricsExporter.serviceType | default "ClusterIP" }}
    port: {{ $metricsExporter.port | default 5000 }}
    nodePort: {{ $metricsExporter.nodePort | default 32500 }}
    image: {{ $metricsExporter.image | default "docker.io/rocm/device-metrics-exporter:v1.4.0" }}
    imagePullPolicy: {{ $metricsExporter.imagePullPolicy | default "IfNotPresent" }}
    config:
      {{- $config := $metricsExporter.config | default dict }}
      name: {{ $config.name | default "metrics-config" }}
    {{- with $metricsExporter.tolerations }}
    tolerations:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    tolerations: []
    {{- end }}
    {{- with $metricsExporter.imageRegistrySecret | default dict }}
    imageRegistrySecret:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with $metricsExporter.selector }}
    selector:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    selector: {}
    {{- end }}
    podResourceAPISocketPath: {{ $metricsExporter.podResourceAPISocketPath | default "/var/lib/k0s/kubelet/pod-resources" }}
    upgradePolicy:
      {{- $meUpgradePolicy := $metricsExporter.upgradePolicy | default dict }}
      upgradeStrategy: {{ $meUpgradePolicy.upgradeStrategy | default "RollingUpdate" }}
      maxUnavailable: {{ $meUpgradePolicy.maxUnavailable | default 1 }}
    rbacConfig:
      {{- $rbacConfig := $metricsExporter.rbacConfig | default dict }}
      enable: {{ $rbacConfig.enable | default false }}
      image: {{ $rbacConfig.image | default "quay.io/brancz/kube-rbac-proxy:v0.18.1" }}
      disableHttps: {{ $rbacConfig.disableHttps | default false }}
      {{- with $rbacConfig.secret }}
      secret:
        {{- toYaml . | nindent 8 }}
      {{- else }}
      secret: {}
      {{- end }}
      {{- with $rbacConfig.clientCAConfigMap }}
      clientCAConfigMap:
        {{- toYaml . | nindent 8 }}
      {{- else }}
      clientCAConfigMap: {}
      {{- end }}
      staticAuthorization:
        {{- $staticAuth := $rbacConfig.staticAuthorization | default dict }}
        enable: {{ $staticAuth.enable | default false }}
        clientName: {{ $staticAuth.clientName | default "" }}
    prometheus:
      {{- $prometheus := $metricsExporter.prometheus | default dict }}
      serviceMonitor:
        {{- $serviceMonitor := $prometheus.serviceMonitor | default dict }}
        enable: {{ $serviceMonitor.enable | default false }}
        interval: {{ $serviceMonitor.interval | default "30s" }}
        {{- with $serviceMonitor.attachMetadata }}
        attachMetadata:
          {{- toYaml . | nindent 10 }}
        {{- else }}
        attachMetadata: {}
        {{- end }}
        {{- if (hasKey $serviceMonitor "honorLabels") }}
        honorLabels: {{ $serviceMonitor.honorLabels }}
        {{- else }}
        honorLabels: true
        {{- end }}
        honorTimestamps: {{ $serviceMonitor.honorTimestamps | default false }}
        {{- with $serviceMonitor.labels }}
        labels:
          {{- toYaml . | nindent 10 }}
        {{- else }}
        labels: {}
        {{- end }}
        {{- with $serviceMonitor.relabelings }}
        relabelings:
          {{- toYaml . | nindent 10 }}
        {{- else }}
        relabelings: []
        {{- end }}
        {{- with $serviceMonitor.metricRelabelings }}
        metricRelabelings:
          {{- toYaml . | nindent 10 }}
        {{- else }}
        metricRelabelings: []
        {{- end }}
        {{- with $serviceMonitor.authorization }}
        authorization:
          {{- toYaml . | nindent 10 }}
        {{- else }}
        authorization: {}
        {{- end }}
        {{- with $serviceMonitor.tlsConfig }}
        tlsConfig:
          {{- toYaml . | nindent 10 }}
        {{- else }}
        tlsConfig: {}
        {{- end }}

  testRunner:
    {{- $testRunner := .testRunner | default dict }}
    enable: {{ $testRunner.enable | default false }}
    image: {{ $testRunner.image | default "docker.io/rocm/test-runner:v1.4.0" }}
    imagePullPolicy: {{ $testRunner.imagePullPolicy | default "IfNotPresent" }}
    {{- with $testRunner.config }}
    config:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    config: {}
    {{- end }}
    logsLocation:
      {{- $logsLocation := $testRunner.logsLocation | default dict }}
      mountPath: {{ $logsLocation.mountPath | default "/var/log/amd-test-runner" }}
      hostPath: {{ $logsLocation.hostPath | default "/var/log/amd-test-runner" }}
      {{- with $logsLocation.logsExportSecrets }}
      logsExportSecrets:
        {{- toYaml . | nindent 8 }}
      {{- else }}
      logsExportSecrets: []
      {{- end }}
    upgradePolicy:
      {{- $trUpgradePolicy := $testRunner.upgradePolicy | default dict }}
      upgradeStrategy: {{ $trUpgradePolicy.upgradeStrategy | default "RollingUpdate" }}
      maxUnavailable: {{ $trUpgradePolicy.maxUnavailable | default 1 }}
    {{- with $testRunner.tolerations }}
    tolerations:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    tolerations: []
    {{- end }}
    {{- with $testRunner.imageRegistrySecret }}
    imageRegistrySecret:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    imageRegistrySecret: {}
    {{- end }}
    {{- with $testRunner.selector }}
    selector:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    selector: {}
    {{- end }}

  configManager:
    {{- $configManager := .configManager | default dict }}
    enable: {{ $configManager.enable | default false }}
    image: {{ $configManager.image | default "docker.io/rocm/device-config-manager:v1.4.0" }}
    imagePullPolicy: {{ $configManager.imagePullPolicy | default "IfNotPresent" }}
    {{- with $configManager.imageRegistrySecret }}
    imageRegistrySecret:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    imageRegistrySecret: {}
    {{- end }}
    {{- with $configManager.config }}
    config:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    config: {}
    {{- end }}
    {{- with $configManager.selector }}
    selector:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    selector: {}
    {{- end }}
    upgradePolicy:
      {{- $cmUpgradePolicy := $configManager.upgradePolicy | default dict }}
      upgradeStrategy: {{ $cmUpgradePolicy.upgradeStrategy | default "RollingUpdate" }}
      maxUnavailable: {{ $cmUpgradePolicy.maxUnavailable | default 1 }}
    {{- with $configManager.configManagerTolerations }}
    configManagerTolerations:
      {{- toYaml . | nindent 6 }}
    {{- else }}
    configManagerTolerations: []
    {{- end }}
{{- end }}
